.details{
    text-align: center;
    width: 100vw;
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;

    button{
        position: absolute;
        top: 25px;
        left: 25px;
        font-size: 1em;
        font-family: sans-serif;
        background-color: #dedede;
        padding: 5px 20px;
        border-radius: 5px;
        cursor: pointer;
        border: 1px solid black;
        outline: none;
    }
}

@media all and (max-width:950px){
    .details{ justify-content: flex-start; }
}