body{
    min-height: 100vh;
    background-image: linear-gradient(to top, #96fbc4 0%, #f9f586 100%);
    background-repeat: no-repeat;
    overflow: auto;
    font-size: 1.2em;
    letter-spacing: 0.01em;

    #picnic{
        position: absolute;
        top: -30vw;
        width: 100%;
        z-index: -1;
        left: 0;
        box-shadow: 0px 1px 10px #585858;
    }

    .recipes{
        display: grid;
        grid-template-columns: repeat(auto-fill, 330px);
        justify-content: space-between;
        width: 95%;
        margin: auto;
    }   
}

@media all and (max-width: 1045px){
   body .recipes{ justify-content: center; }

}


@media all and (max-width: 768px){
    body{
        font-size: 1em;
        overflow-x: hidden;

        #picnic{ 
            width:200%; 
            top: 0;
            right: 0;
        } 
    }    
}
