.error{
    width: 260px;
    margin: auto;
    color: #f9f9f9;
    background-color: red;
    border-radius: 5px;
    box-shadow: 1px 1px 3px 0px #585858;

    p{
        padding: 20px;
        font-style: italic;
        font-size: 1em;
    }
}

@media all and (max-width:768px){
    .error{
        width: 90%;
    }
}