.recipe{
    background-color: #efefef;
    text-align: center;
    border-radius: 10px;
    box-shadow: 1px 1px 1px #585858;
    color: #363636;
    border-radius: 5px;
    margin-bottom: 40px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 0 5px;

    h3{
        text-decoration: underline;
        font-style: italic;
    }

    img{ border-radius: 5px; width: 95%; }

    ul{
        list-style-type: none;
        padding: 0;
        margin-top: -10px;
    }

    .moreInfos{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 90%;
        margin: auto;

        p{ margin-right: 6px; }
        a{ margin-right: 6px; }
    }
}


@media all and (max-width: 500px){
    .recipe{
        width: 90%;
    }
}